footer {
    background-color: var(--dark-blue);
    color: var(--white);
    padding: 5vh 20px 5vh 20px;
    text-align: center;
  }
  
  .social-media-links {
    display: flex;
    justify-content: center;
    padding: 20px 0px;
  }
  
  .social-link {
    padding: 15px;
  }
  
  .social .social-media-links svg {
    width: 30px;
  }
  
  .social .social-media-links a {
    text-decoration: none;
    color: var(--white);
  }
  
  .copyright span {
    color: red;
    font-size: 22px;
  }
  
  .copyright a {
    color: var(--light);
  }