@import "./style.css";
@import "./nav.css";
@import "./subscribe.css";
@import "./footer.css";

header.main-post-header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 60px 30px;
}


.blog-heading {
  margin-bottom: 20px;
}

.blog-heading h1 {
  color: var(--dark-blue);
}

.blog-heading p {
  color: var(--light-blue);
}

.main-post-header .author-info{
  display: flex;
  align-items: center;
}

.author-info .author-avatar{
  width: 50px;
  height: 50px;
  margin-right:10px;
}

.author-info .author-avatar img{
  width:100%;
  height: 100%;
  border-radius: 50%;
  object-fit: cover;
}

.author-info .author-name-title{
  color: var(--grey);
}

.author-info .author-name-title .author-name{
  font-weight: 500;
  color:var(--dark-blue);
}

.author-info .author-name-title .author-title, a{
  color:var(--light-blue);
}

.main-post-header .author-bio{
  margin-top:10px;
  color: var(--grey);
  width:50%;
  text-align: center;
  font-style: italic;
}

section.post-hero-image {
  padding: 0;
}

.hero-image {
  height: 70vh;
  width: 100%;
}

.hero-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.blog-content {
  padding: 60px 50px;
}

.blog-content h2 {
  color: var(--dark-blue);
}

.blog-content p a {
  color: var(--light-blue);
  text-decoration: none;
  font-weight: 500;
}

.blog-content p a:hover {
  color: var(--dark-blue);
  text-decoration: underline;
}

.blog-content p,
blockquote {
  color: var(--grey);
  line-height: 2em;
}

.blog-content blockquote {
  border-left: 3px solid var(--light-blue);
  padding: 20px;
  font-style: italic;
}

.blog-content ul.point-numbering {
  color: var(--grey);
  line-height: 2em;
  padding-left: 40px;
  list-style: square;
}



.blog-content .intersection {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-auto-rows: minmax(300px, auto);
  grid-gap: 0px 30px;
  align-items: center;
}

.intersection .post-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 20px;
}

.intersection .post-image figcaption {
  color: var(--grey);
  font-style: italic;
  text-align: center;
}

.article-share {
  display: flex;
  align-items: center;
}

.article-share p {
  margin-right: 10px;
  color: var(--light-blue);
  font-weight: 500;
}

.article-share .share-icons {
  display: flex;
  align-items: center;
}

.share-icons .article-social-link {
  padding-right: 20px;
}

.share-icons .article-social-link a {
  color: var(--light-blue);
}

.share-icons .article-social-link a:hover {
  color: var(--dark-blue);
}

.share-icons .article-social-link svg {
  width: 30px;
}

.post-button-section {
  padding-bottom: 10vh;
  display: flex;
  justify-content: flex-end;
  padding-right: 20px;
  padding-left: 20px;
}

.post-button-section button {
  border: 2px solid var(--light-blue);
  border-radius: 20px;
  background-color: transparent;
  padding: 10px 30px;
  cursor: pointer;
  color: var(--light-blue);
}

.post-button-section button:hover {
  border: 2px solid var(--light-blue);
  background-color: var(--light-blue);
  color: var(--white);
  transition: all 0.2s ease-in;
}

.post-button-section button:first-of-type {
  margin-right: 20px;
}

/* Media Queries */

@media (max-width: 990px) {
  .blog-content .intersection {
    display: block;
  }

  .blog-content {
    padding: 60px 30px;
  }
}

@media (max-width: 779px) {
  header.main-post-header {
    text-align: center;
  }
}

@media (max-width: 600px) {
  .subscribe-section .form-container form {
    display: block;
    text-align: center;
  }

  .subscribe-section .form-container form input {
    width: 80vw;
    margin-bottom: 20px;
  }

  .subscribe-section .form-container form button {
    width: 40%;
    height: 42px;
  }
  .main-post-header .author-bio{
    width:80%;
  }
}

@media (max-width: 420px) {
  .article-share {
    display: block;
  }
  .main-post-header .author-bio{
    width:100%;
  }
  .author-info .author-name-title{
    text-align: left;
  }

  .author-info .author-avatar{
    margin-right:5px;
  }

  header.main-post-header {
    padding: 60px 20px;
  }
}

@media (max-width: 320px) {
  nav ul > li {
    padding-right: 10px;
  }
}
